# Data Manipulation & Processing
pandas
numpy

# Natural Language Processing
spacy
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl

# Visualization & Formatting
matplotlib
wordcloud
tabulate